[submodule "GPGX/src"]
	path = GPGX/src
	url = https://github.com/Aftnet/Genesis-Plus-GX.git
	branch = master
[submodule "Snes9X/src"]
	path = Snes9X/src
	url = https://github.com/libretro/snes9x.git
	branch = master
[submodule "VBAM/src"]
	path = VBAM/src
	url = https://github.com/libretro/vbam-libretro.git
	branch = master
[submodule "Nestopia/src"]
	path = Nestopia/src
	url = https://github.com/libretro/nestopia.git
	branch = master
[submodule "FCEUMM/src"]
	path = FCEUMM/src
	url = https://github.com/libretro/libretro-fceumm.git
	branch = master
[submodule "Gambatte/src"]
	path = Gambatte/src
	url = https://github.com/libretro/gambatte-libretro.git
	branch = master
